.background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.transition {
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.beforeafter::before,
.beforeafter::after {
  clear: both;
  content: '';
  display: table;
}
.clear {
  clear: both;
}
@-webkit-keyframes changecollors {
  0% {
    background-color: #323232;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #323232;
  }
}
@-moz-keyframes changecollors {
  0% {
    background-color: #323232;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #323232;
  }
}
@-o-keyframes changecollors {
  0% {
    background-color: #323232;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #323232;
  }
}
@keyframes changecollors {
  0% {
    background-color: #323232;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #323232;
  }
}
@-webkit-keyframes changescale {
  0% {
    transform: scale(1);
    background-color: rgba(255, 255, 255, 0.2);
  }
  50% {
    transform: scale(0.8);
    background-color: transparent;
  }
  100% {
    transform: scale(1);
    background-color: rgba(255, 255, 255, 0.2);
  }
}
@-moz-keyframes changescale {
  0% {
    transform: scale(1);
    background-color: rgba(255, 255, 255, 0.2);
  }
  50% {
    transform: scale(0.8);
    background-color: transparent;
  }
  100% {
    transform: scale(1);
    background-color: rgba(255, 255, 255, 0.2);
  }
}
@-o-keyframes changescale {
  0% {
    transform: scale(1);
    background-color: rgba(255, 255, 255, 0.2);
  }
  50% {
    transform: scale(0.8);
    background-color: transparent;
  }
  100% {
    transform: scale(1);
    background-color: rgba(255, 255, 255, 0.2);
  }
}
@keyframes changescale {
  0% {
    transform: scale(1);
    background-color: rgba(255, 255, 255, 0.2);
  }
  50% {
    transform: scale(0.8);
    background-color: transparent;
  }
  100% {
    transform: scale(1);
    background-color: rgba(255, 255, 255, 0.2);
  }
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
  height: 100%;
  font-family: Tahoma;
}
body {
  -moz-transition: all 1000ms ease;
  -webkit-transition: all 1000ms ease;
  transition: all 1000ms ease;
  background-color: #585858;
  height: 100%;
  overflow: hidden;
}
body.black {
  background-color: #000000;
}
body.win {
  background-color: #545125;
}
.fieldsArea {
  height: calc((50px + 3px) * 11);
  margin: 120px auto 0 auto;
  width: calc((50px + 3px) * 11);
}
.fieldsArea > div {
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  float: left;
  height: 50px;
  margin-bottom: 3px;
  margin-right: 3px;
  width: 50px;
}
.fieldsArea > div.field {
  position: relative;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cecece+0,ffffff+100 */
  background: #cecece;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #cecece 0%, #ffffff 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #cecece 0%, #ffffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #cecece 0%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cecece', endColorstr='#ffffff', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.fieldsArea > div.field[data-color="red"],
.fieldsArea > div.field[home="red"] {
  background: red;
}
.fieldsArea > div.field[data-color="blue"],
.fieldsArea > div.field[home="blue"] {
  background: blue;
}
.fieldsArea > div.field[data-color="green"],
.fieldsArea > div.field[home="green"] {
  background: green;
}
.fieldsArea > div.field[data-color="yellow"],
.fieldsArea > div.field[home="yellow"] {
  background: yellow;
}
.fieldsArea > div.field .virtualShadow {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: #323232;
  height: 10px;
  left: 20px;
  position: absolute;
  top: 20px;
  width: 10px;
  z-index: 2;
}
.fieldsArea > div.field .virtualShadow.attack {
  background-color: transparent;
  background-image: url(../images/attack.png);
  background-position: center;
  background-size: contain;
  height: 30px;
  left: 10px;
  top: 10px;
  width: 30px;
}
.fieldsArea > div.dice {
  background-color: #000000;
  background-image: url(../images/dice.png);
  background-position: center;
  background-size: 114%;
  cursor: pointer;
  opacity: 0;
  position: relative;
  z-index: 2;
}
.fieldsArea > div.dice.show {
  opacity: 1;
}
.fieldsArea > div.dice.animation {
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  transform: scale(1.5);
  -webkit-animation: changecollors 2s infinite;
  /* Safari 4+ */
  -moz-animation: changecollors 2s infinite;
  /* Fx 5+ */
  -o-animation: changecollors 2s infinite;
  /* Opera 12+ */
  animation: changecollors 2s infinite;
  /* IE 10+, Fx 29+ */
}
.fieldsArea > div.dice .result {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}
.fieldsArea > div.dice .result[data-result="1"] {
  background-image: url(../images/dice/dice1.png);
}
.fieldsArea > div.dice .result[data-result="2"] {
  background-image: url(../images/dice/dice2.png);
}
.fieldsArea > div.dice .result[data-result="3"] {
  background-image: url(../images/dice/dice3.png);
}
.fieldsArea > div.dice .result[data-result="4"] {
  background-image: url(../images/dice/dice4.png);
}
.fieldsArea > div.dice .result[data-result="5"] {
  background-image: url(../images/dice/dice5.png);
}
.fieldsArea > div.dice .result[data-result="6"] {
  background-image: url(../images/dice/dice6.png);
}
.figuresContainer {
  left: 130px;
  position: absolute;
  top: 0;
  width: calc(100% - 200px);
}
.figuresContainer .close {
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  background-color: #000000;
  bottom: 5px;
  color: #ffffff;
  cursor: pointer;
  font-family: FontAwesome;
  height: 20px;
  line-height: 18px;
  position: absolute;
  right: 7px;
  text-align: center;
  width: 20px;
}
.figuresContainer .this {
  background-color: green;
  color: #ffffff;
  cursor: pointer;
  display: none;
  font-family: FontAwesome;
  height: 30px;
  line-height: 28px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 30px;
}
.playerFigures {
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  height: 104px;
  padding-bottom: 35px;
  padding-left: 30px;
  padding-top: 3px;
  position: relative;
  width: 100px;
}
.playerFigures::before,
.playerFigures::after {
  clear: both;
  content: '';
  display: table;
}
.playerFigures:nth-child(n+2) {
  border-left: 2px solid #323232;
}
.playerFigures[order]:before {
  color: #ffffff;
  font-size: 26px;
  font-weight: bold;
  left: 9px;
  line-height: 60px;
  padding-top: 5px;
  position: absolute;
  text-shadow: 1px 1px #000000;
  top: 0;
}
.playerFigures[order="1"]:before {
  content: '1';
}
.playerFigures[order="2"]:before {
  content: '2';
}
.playerFigures[order="3"]:before {
  content: '3';
}
.playerFigures[order="4"]:before {
  content: '4';
}
.playerFigures.red.active {
  background-color: #ff5e5e;
  border-bottom: 10px solid #dd0000;
}
.playerFigures.red .figure {
  background-image: url(../images/figure_red.png);
}
.playerFigures.blue.active {
  background-color: #5c5cff;
  border-bottom: 10px solid #0000db;
}
.playerFigures.blue .figure {
  background-image: url(../images/figure_blue.png);
}
.playerFigures.green.active {
  background-color: #02e202;
  border-bottom: 10px solid #016401;
}
.playerFigures.green .figure {
  background-image: url(../images/figure_green.png);
}
.playerFigures.yellow.active {
  background-color: #ffff5c;
  border-bottom: 10px solid #dbdb00;
}
.playerFigures.yellow .figure {
  background-image: url(../images/figure_yellow.png);
}
.playerFigures.active {
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.playerFigures > div {
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  float: left;
  height: 30px;
  margin-bottom: 3px;
  margin-right: 3px;
  width: 30px;
}
.field .figure {
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  height: 40px;
  left: 5px;
  position: relative;
  top: 5px;
  width: 40px;
  z-index: 1;
}
.field .figure[player="red"] {
  background-image: url(../images/figure_red.png);
}
.field .figure[player="blue"] {
  background-image: url(../images/figure_blue.png);
}
.field .figure[player="green"] {
  background-image: url(../images/figure_green.png);
}
.field .figure[player="yellow"] {
  background-image: url(../images/figure_yellow.png);
}
.field .figure.animation {
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-animation: changescale 1s infinite;
  /* Safari 4+ */
  -moz-animation: changescale 1s infinite;
  /* Fx 5+ */
  -o-animation: changescale 1s infinite;
  /* Opera 12+ */
  animation: changescale 1s infinite;
  /* IE 10+, Fx 29+ */
}
.figure.animation {
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-animation: changescale 1s infinite;
  /* Safari 4+ */
  -moz-animation: changescale 1s infinite;
  /* Fx 5+ */
  -o-animation: changescale 1s infinite;
  /* Opera 12+ */
  animation: changescale 1s infinite;
  /* IE 10+, Fx 29+ */
}
.infoArea {
  background-color: #676767;
  height: 70px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
.infoArea .actionBtn {
  background-color: #336699;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  line-height: 70px;
  padding: 0 10px;
  text-align: center;
  width: 130px;
}
.infoMsg {
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  bottom: 0;
  color: #ffffff;
  display: block;
  font-size: 14px;
  letter-spacing: 1.5px;
  line-height: 40px;
  max-height: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  text-align: center;
  width: 100%;
}
.infoMsg::before,
.infoMsg::after {
  clear: both;
  content: '';
  display: table;
}
