{
  "extends": ["airbnb-standard"],
  "parser": "babel-eslint",
  "globals": {
    "jQuery": true,
    "$": true,
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "space-before-function-paren": ["error", "never"],
    "quotes": [1, "single"],
    "prefer-destructuring": ["error", {"object": false, "array": false}],
    "comma-dangle": ["error", {
      "arrays": "never",
      "objects": "always",
      "imports": "never",
      "exports": "never",
      "functions": "ignore"
    }],
    'react/destructuring-assignment': 'off',
  }
}
